* {
    font-family: 'Open Sans',sans-serif;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    margin: 0;
}

span {
    margin: 0;
    display: block;
}

button, button:active, button:focus {
    outline: none;
}

#container header {
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
    background-image: url(img/banner.jpg);
    position: relative;
}

#container header h1, #container header p {
    display: block;
    color: white;
}

#container header h1 {
    text-transform: uppercase;
    position: absolute;
    margin-top: 27%;
    margin-left: 30%;
    font-size: 45px;
    text-shadow: 1px 1px 5px black;
}

#container header p {
    text-transform: capitalize;
    position: absolute;
    margin-top: 33%;
    margin-left: 24%;
    font-size: 18px;
    text-shadow: 1px 1px 5px black;
}

.top_menu_wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffffdb;
}

.name_page_wrap {
    padding: 10px 0 10px 80px;
}

.login_menu_wrap ul {
    display: flex;
    flex-direction: row;
    padding-right: 80px;
}

.login_menu_wrap ul li {
    text-transform: capitalize;
    font-size: 14px;
    display: block;
    padding: 3px 10px;
    color: #9e9e9e;
    margin: 0 10px;
}

.login_menu_wrap ul li img {
    width: 12px;
    height: 12px;
}

.login_menu_wrap ul li a {
    text-decoration: none;
    color: white;
}

.login_menu_wrap ul li:last-child {
    display: block;
    background-color: #de6d6e;
    border-radius: 10%;
}

.big_circle, .medium_circle, .litle_circle {
    background-color: #ffffff9c;
    box-shadow: 1px 1px 2px black;
}

.big_circle {
    margin-top: 15%;
    margin-left: 55%;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.medium_circle {
    margin-top: 12%;
    margin-left: 59%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.litle_circle {
    margin-top: 16%;
    margin-left: 61%;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.top_content_wrap, .bottom_content_wrap {
    max-width: 1000px;
    margin: 0 auto;
}

.top_content_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #cacaca;
}

.top_content_wrap h1 {
    display: block;
    font-size: 35px;
    color: #555555;
    margin: 40px 0 20px 0;
}

.top_content_wrap p {
    display: block;
    font-size: 14px;
    color: #555555;
    line-height: 25px;
}

.icons_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.icons_wrap img {
    display: block;
    margin: 0 20px;
    padding: 30px 30px;
    background-color: #ff5649;
    border-radius: 10%;
}

.bottom_content_wrap {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.img_wrap {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 10px auto;
    border: 1px solid #cacaca;
    box-shadow: 1px 1px 3px #cacaca;
}

.img_wrap:last-child {
    margin-bottom: 20px;
}

.img_wrap img {
    display: block;
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 20px;
}

.img_wrap h1 , .img_wrap p{
    display: block;
    color: #676767;
    margin: 20px 0 20px 20px;
}

.img_wrap h1 {
    font-size: 25px;
}

.img_wrap p {
    display: block;
    line-height: 20px;
}

footer {
    max-width: 1000px;
    height: 250px;
    margin: 10px auto;
    background-color: #262828;
    display: flex;
    flex-direction: row;
}

.footer_content_wrap {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.sub_menu_wrap {
    width: 20%;
    margin: 10px 0;
    color: #888887;
}

.sub_menu_wrap h1 {
    font-size: 18px;
    text-transform: capitalize;
    margin: 15px 0;
}

.sub_menu_wrap ul li {
    font-size: 14px;
    line-height: 20px;
}

.social_media_wrap {
    width: 20%;
    margin: 40px 0;
}

.social_media_wrap img {
    margin: 30px 5px;
    width: 30px;
    height: 30px;
    background-color: #696b6a;
    border-radius: 15%;
}

.social_media_wrap p {
    font-size: 9px;
    color: #888887;
    margin: 0 5px;
}